*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: #e4e8f5;
  }
  .container {
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  }
  .history {
    width: auto;
    background-color: #fcfae1;
    min-height: 100vh;
    padding: 2rem;
    color: #193182;
    font-weight: bolder;
  }
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: #5776E0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
  .title-history {
      color: black;
  }
  .btn-clear {
    margin-top: 20px;
    color: #494949 ;
    text-decoration: none;
    background: #FFF8d2;
    padding: 10px;
    border: 1px solid #423f10;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

.btn-clear:hover{
    color: #ffffff ;
    background: #f6b93b;
    border-color: #f6b93b ;
    transition: all 0.4s ease 0s;
    }
    
.btn-clear:active{
    background-color:#999999;
    }
    
  
