:root {
  --primary-color: #302AE6;
  --font-color: #193182;
  --bg-color: #e4e8f5;
  --heading-color: #292922;
  --img-filter: grayscale(0%);
  --history-color:  #fcfae1;
  --title-history: black;
  --button-color:  rgba(255, 255, 255, .75);
  --output-color: #5776E0; 
  --output-previous: rgba(255, 255, 255, .75);
  --output-current: white;
  --btn-clear-text: #494949;
  --btn-clear: #FFF8d2;
  --clear-hover: #f6b93b;
  --clear-hover-color: #ffffff;
  --clear-active: #999999;
  --list-color: black;

}
[data-theme="dark"] {
  --primary-color: #9A97F3;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --img-filter: grayscale(100%);
  --history-color: #c3c8d4;
  --title-history: rgb(245, 237, 237);
  --button-color: #9ba4b4;
  --output-color: #153659; 
  --btn-clear-text: #999999;
  --btn-clear: #da5359;
  --clear-hover: #862c30;
  --clear-hover-color: #ffffff;
  --clear-active: #310a0a;
  --list-color: rgb(245, 237, 237);
}


*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
  }
  
  body {
    padding: 0;
    margin: 0;
    background: var(--bg-color);
  }
  .container {
    display: grid;
    grid-template-columns: 5% 65% 30%;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
  }
 img {
   filter: var(--img-filter);
    }
    label {
      cursor: pointer;
     
  }
  
 #checkbox {
   transition: 5s ease;
 }
  .history {
    width: auto;
    background-color: var(--primary-color);
    min-height: 100vh;
    padding: 2rem;
    color:  var(--history-color);
    font-weight: bolder;
  }
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: var(--button-color);
  }
  
  .calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: var(--output-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }
  .title-history {
      color: var(--title-history);
  }
  .btn-clear {
    margin-top: 20px;
    color: #494949 ;
    text-decoration: none;
    background: var(--btn-clear);
    padding: 10px;
    border: 1px solid #423f10;
    display: inline-block;
    transition: all 0.4s ease 0s;
    }

.btn-clear:hover{
    color: var(--clear-hover-color);
    background: var(--clear-hover);
    /* border-color: #f6b93b ; */
    transition: all 0.4s ease 0s;
    }
    
.btn-clear:active{
    background-color:var(--clear-active);
}
#list {
  color: var(--list-color);
}    

.theme-switch input {
  display:none;
  transition:  0.3s ease;
}
.theme-switch {
  transition:  3s ease;
}
    
  
